#content{
max-width: 1600px;
margin:0 auto;
text-align: center;
}

nav a{
    text-align: center;
}

nav a:hover{
    background-color: #4496CC;
}

#hero-msg h1
{
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box{
    text-align: center;
}

main {
    text-align: center;
}

#background{
    height: 725px;
    background-color: blue;
}

body{
    background-color: #4496cc0a;
}

header{
    background-color: #EB9627;
}


/*
* {
	border: 2px solid blue
}
*/